<nav class="main-nav">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    
    <h2>Menu</h2>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>
    <form action="">
    <div class="nav-form-header-div-wrapper">
            <h4>Login</h4>
    </div>

    <div class="nav-form-inputs-div-wrapper">
        <input type="email" required placeholder="E-mail">
        <input type="password" required placeholder="Password">
    </div>

    <div >
        <button type="submit">Log in</button>
    </div>

    </form>
</nav>